elpa/
.*~
.el~
*.el~
/ido.last
/ido.last~
backups/
/.emacs.desktop
/.emacs.desktop.lock
/eshell/history
/eshell/lastdir
/lisp/keep.el
.mc-lists.el
network-security.data
.DS_Store
/smex-items
.python-environments/
/url
projectile-bookmarks.eld
/lisp/testing.el
/timelog
eshell/
games/
/lisp/jira.rest
/lisp/jira-params.el
/bookmarks
desktop/
/tramp
/lisp/hidden.el
